.carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-link {
  text-decoration: none;
}

.hover-link:hover {
  background-color: rgb(136, 225, 146);
}

/*Style login va register*/


.modal-body {
  min-height: 400px;
}
.login-container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.form-check-input {
  margin-top: 6px;
}

.btn-login {
  background-color: #28a745;
  color: white;
}

.btn-login:hover {
  background-color: #218838;
}

.social-login button {
  width: 100%;
}

.illustration {
  text-align: center;
}

.illustration img {
  max-width: 100%;
  height: auto;
}

.small-text {
  font-size: 0.8rem;
}

.color-link{
  color: #2B7FAF;
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  color:rgb(234, 53, 12)
}

/*style home*/
.home-container {
  display: flex;
  min-height: 100vh;
}

.home-container > * {
  padding: 10px;
}

.sidebar {
  width: 250px;
  background-color: #f1f1f1;
}

.main-content {
  flex: 1;
  background-color: #fff;
}

/*Style trận đấu*/
.match-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #dee2e6;
}

.team {
  flex: 1;
  display: flex;
  align-items: center;
}

.team-name {
  font-weight: 500;
  color: #000;
}

.score-box {
  min-width: 50px;
  text-align: center;
}

/*Modal xem */
.modal-backdrop {
  background-color: rgba(255, 255, 255, 0.1); 
}

/*Style fixture detail*/
.detail-container {
  display: flex;
  min-height: 10vh;
}



/*Style cho doi hinh ra san*/
.formation-container {
  border-radius: 15px;
  position: relative;
  color: white;
  width: 550px;
}

.formation-lineup{
  background-image: url(../assets/backgroupLineup.jpg);  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 106.5%;
  margin-left: -20px;
  height: 680px;
}

.formation-header {
  width:80%;
  background-color: #91878795;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: -20px;
  margin-left: 49px;
  height: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.formation-footer {
  width: 80%;
  background-color: #91878795;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: -20px;
  margin-left: 48px;
  height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.team-logo {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.formation-text {
  margin-left: auto;
  padding-right: 10px;
  font-weight: normal;
}

.formation-row-home{
  margin-bottom: 25px;
}

.formation-row-away{
  margin-top: 25px;
}

.player {
  text-align: center;
  position: relative;
}

.shirt-home {
  width: 35px;
  height: 35px;
  background-color: #0a2a66;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}
.shirt-away {
  width: 35px;
  height: 35px;
  background-color: #ced3dc;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}

.number {
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-name {
  font-size: 0.75rem;
  margin-top: 4px;
  color: white;
}

.sub-icon {
  color: red;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
}

/*Style ten giai dau*/
.league-name{
  background-color: rgb(181, 174, 174);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 929px;
  margin-top: -15px;
  margin-left: -16px;
  height: 30px;
}


/*Style 404*/
.custom-bg {
    background: linear-gradient(to right, #e2e8f0, #e5e7eb);
}

.custom-btn:hover {
    background-color: #f3e8ff !important;
    transition: background-color 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .custom-bg {
        background: linear-gradient(to right, #1f2937, #111827);
        color: white !important;
    }

    .custom-btn {
        background-color: #374151 !important;
        color: white !important;
    }

    .custom-btn:hover {
        background-color: #4b5563 !important;
    }
}

/*Style cho bai bao*/
.title-new:hover{
  color: #28a745;
  cursor: pointer;
}